@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    color: dimgrey;

    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    height: 100vh;
    width: 100%;

    overflow: hidden;
    position: relative;
}
@media (min-width:68px) {
    .wrapper{
        height: 50rem;
        width: 25rem;
        border: 10px solid #696969;
        border-radius: 40px;
    }
}
.screen-backdrop{
    height: 25rem;
    width: 130%;
    background-color: #f9ea85;

    border-radius: 0 0 50% 50%;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;

    z-index: -1;
}
.head-wrapper{
    padding: 30px;
}
.menu-btn{
    width: 2rem;
    cursor: pointer;
    color: #2e2e2e;
}