@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: #696969;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: "Inter", sans-serif;

}
.wrapper{
    height: 100vh;
    width: 100%;
    
    overflow: hidden;
    position: relative;
}
@media (min-width:68px) {
    .wrapper{
        height: 50em;
        width: 25em;
        border: 9px solid #696969;
        border-radius: 30px;
    }
}
/* Funddo colorido*/
.screen-backdrop{
    height: 25em;
    width: 130%;
    background-color: #e29578;

    border-radius: 0 0 50% 50% ;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;

    z-index: -1;
}
/* Barra de menu*/
.head-wrapper{
    padding: 20px;
}
.menu-btn{
    width: 3em;
    cursor: pointer;    
}
/* Texto */
.welcome{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
}
.welcome h1{
    font-size: 1.6em;
}
.welcome p{
    font-style: italic;
    font-weight: 400;
}

/* IMG */
.welcome .img{
    position: relative;
}
.welcome .img img{
    width: 5rem;
}
.welcome .img .backdrop{
    background-color: white;
    height: 4rem;
    width: 4rem;
    position: absolute;
    
    transform: translateX(-50%);
    left: 50%;
    border-radius: 150%;
    z-index: -1;
}
